[defaults]

# Chick-Fil-A would like a word...
nocows = True

# Installs collections into [current dir]/ansible_collections/namespace/collection_name
collections_paths = ./

roles_path = ./roles

ask_vault_pass = False
vault_password_file = ./vault-pass.secret

inventory = ./inventory.yml,./hcloud.yml

interpreter_python = auto_silent

host_key_checking = False
