[defaults]

# Chick-Fil-A would like a word...
nocows = True

# Installs collections into [current dir]/ansible_collections/namespace/collection_name
collections_path = ./

roles_path = ./roles

ask_vault_pass = False

inventory = ./inventory.yaml

interpreter_python = auto_silent

host_key_checking = False
