- name: Create common docker network for reverse proxying
  community.docker.docker_network:
    name: web
  tags:
    - caddy

- name: Create Caddy directory
  ansible.builtin.file:
    path: /opt/caddy
    state: directory
    mode: "0o700"
  tags:
    - caddy

- name: Copy Caddy config
  ansible.builtin.copy:
    src: Caddyfile
    dest: /opt/caddy/Caddyfile
    mode: "0o644"
  register: output
  tags:
    - caddy

- name: Install Caddy
  community.docker.docker_compose:
    project_name: caddy
    pull: true
    restarted: "{{ 'true' if output.changed else 'false' }}"
    definition:
      version: "3.7"
      services:
        caddy:
          image: caddy:{{ caddy_version }}
          restart: always
          ports:
            - 80:80
            - 443:443
          volumes:
            - /opt/caddy/Caddyfile:/etc/caddy/Caddyfile
            - caddy_data:/data
            - caddy_config:/config
          networks:
            - web
      volumes:
        caddy_data:
        caddy_config:
      networks:
        web:
          external:
            name: web
  tags:
    - caddy
