{
  email owners@woodpecker-ci.org
}

wp.laszlo.cloud {
  redir https://ci.woodpecker-ci.org{uri}
}

ci.woodpecker-ci.org {
  reverse_proxy woodpecker-server:8000
}

grpc-ci.woodpecker-ci.org {
  reverse_proxy h2c://woodpecker-server:9000
}

go.woodpecker-ci.org {
  respond "go vanity url"

  route /woodpecker {
    @goget query go-get=1
    respond @goget `<meta name="go-import" content="go.woodpecker-ci.org/woodpecker git https://github.com/woodpecker-ci/woodpecker">`

    redir https://pkg.go.dev/github.com/woodpecker-ci/woodpecker
  }
}

translate.woodpecker-ci.org {
  reverse_proxy weblate:8080
}
