- name: Create Woodpecker directory
  ansible.builtin.file:
    path: /opt/woodpecker
    state: directory
    mode: '0o700'
  tags:
    - woodpecker
    - woodpecker-server

- name: Create Woodpecker server container
  community.docker.docker_container:
    name: woodpecker_server
    hostname: woodpecker-server
    pull: 'always'
    image: docker.io/woodpeckerci/woodpecker-server:{{ woodpecker_server_version }}
    restart_policy: 'always'
    volumes:
      - /opt/woodpecker:/var/lib/woodpecker/
    networks:
      - name: web
    env:
      WOODPECKER_OPEN: 'true'
      WOODPECKER_HOST: '{{ woodpecker_server_host | string }}'
      WOODPECKER_ORGS: '{{ woodpecker_server_orgs | string }}'
      WOODPECKER_ADMIN: '{{ woodpecker_server_admins | string }}'
      WOODPECKER_GITHUB: 'true'
      WOODPECKER_GITHUB_CLIENT: '{{ woodpecker_server_github_client | string }}'
      WOODPECKER_GITHUB_SECRET: '{{ woodpecker_server_github_secret | string }}'
      WOODPECKER_AGENT_SECRET: '{{ woodpecker_server_agent_secret | string }}'
      WOODPECKER_GITHUB_MERGE_REF: 'false'
      WOODPECKER_PLUGINS_PRIVILEGED: >-
        docker.io/woodpeckerci/plugin-docker-buildx:latest,
        docker.io/woodpeckerci/plugin-docker-buildx:6.0.2,
        docker.io/woodpeckerci/plugin-docker-buildx:6.0.3,
        docker.io/woodpeckerci/plugin-docker-buildx:6.0.4,
        docker.io/woodpeckerci/plugin-docker-buildx:6.0,
        docker.io/woodpeckerci/plugin-docker-buildx:6,
        codeberg.org/woodpecker-plugins/docker-buildx:latest,
        codeberg.org/woodpecker-plugins/docker-buildx:6.0.2,
        codeberg.org/woodpecker-plugins/docker-buildx:6.0.3,
        codeberg.org/woodpecker-plugins/docker-buildx:6.0.4,
        codeberg.org/woodpecker-plugins/docker-buildx:6.0,
        codeberg.org/woodpecker-plugins/docker-buildx:6
  tags:
    - woodpecker
    - woodpecker-server
