- name: Disable SSH password authentication
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#PasswordAuthentication yes'
    line: 'PasswordAuthentication no'
  notify: Restart SSH
  when: ansible_facts['distribution'] in ["Debian", "Ubuntu"]
  tags:
    - common

- name: Update packages with apt
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true
    cache_valid_time: 3600
  when: ansible_facts['distribution'] in ["Debian", "Ubuntu"]
  tags:
    - common
