- name: Include tasks on Ubuntu
  ansible.builtin.include_tasks: ubuntu.yaml
  when: ansible_facts['distribution'] == "Ubuntu"
  tags:
    - docker

- name: Start Docker
  ansible.builtin.service:
    name: docker
    enabled: true
    state: started
  tags:
    - docker

- name: Setup Docker Prune
  ansible.builtin.include_tasks: prune.yaml
  tags:
    - docker
