### Caddy
# renovate: datasource=docker depName=library/caddy versioning=docker
caddy_version: 2.10.2-alpine

### Server
# renovate: datasource=docker depName=woodpeckerci/woodpecker-server versioning=docker
woodpecker_server_version: next@sha256:484b5f9cf070a05bb8df6253a97bca22c57b3211b8c598d6ef99e00fccedc2e8
woodpecker_server_host: 'https://ci.woodpecker-ci.org'
woodpecker_server_orgs: woodpecker-ci
woodpecker_server_admins: anbraten,qwerty287
woodpecker_server_agent_secret: '{{ vault_woodpecker_agent_secret }}'
woodpecker_server_github_client: '{{ vault_woodpecker_github_client }}'
woodpecker_server_github_secret: '{{ vault_woodpecker_github_secret }}'

### Agent
# renovate: datasource=docker depName=woodpeckerci/woodpecker-agent versioning=docker
woodpecker_agent_version: next@sha256:f4c1fcd933635bd6b0aff7ca3fa844f002fb23db4a996d085b5ec5efd0eba5ef
woodpecker_agent_server: woodpecker-server:9000
woodpecker_agent_agent_secret: '{{ vault_woodpecker_agent1_secret }}'
woodpecker_agent_max_workflows: 2

### Autoscaler
# renovate: datasource=docker depName=woodpeckerci/autoscaler versioning=docker
woodpecker_autoscaler_version: next@sha256:153d2fefc319d95355756e902e4865026bec76c1cb750c0e822ec828504d1c23
woodpecker_autoscaler_server_url: http://woodpecker-server:8000
woodpecker_autoscaler_server_token: '{{ vault_woodpecker_api_token }}'
woodpecker_autoscaler_min_agents: 0
woodpecker_autoscaler_max_agents: 1
woodpecker_autoscaler_workflows_per_agent: 4
woodpecker_autoscaler_grpc_addr: grpc-ci.woodpecker-ci.org:443
woodpecker_autoscaler_grpc_secure: true
woodpecker_autoscaler_provider: hetznercloud
woodpecker_autoscaler_hetzner_api_token: '{{ vault_hcloud_token }}'
# woodpecker_autoscaler_hetzner_server_type: cx42
woodpecker_autoscaler_hetzner_server_type: cpx42:hel1
woodpecker_autoscaler_hetzner_ssh_keys: ci.woodpecker-ci.org-ssh
woodpecker_autoscaler_autoscaler_agent_version: '{{ woodpecker_agent_version }}'

### Vaultwarden
# renovate: datasource=docker depName=vaultwarden/server versioning=docker
vaultwarden_version: 1.35.2-alpine
vaultwarden_smtp_host: '{{ vault_vaultwarden_smtp_host }}'
vaultwarden_smtp_port: 587
vaultwarden_smtp_security: starttls
vaultwarden_smtp_username: '{{ vault_vaultwarden_smtp_username }}'
vaultwarden_smtp_password: '{{ vault_vaultwarden_smtp_password }}'

### Weblate
# renovate: datasource=docker depName=weblate/weblate versioning=docker
weblate_version: 5.15.2.4
weblate_email_host: '{{ vault_weblate_email_host }}'
weblate_email_use_ssl: 0
weblate_email_use_tls: 1
weblate_email_port: 587
weblate_email_username: '{{ vault_weblate_email_username }}'
weblate_email_password: '{{ vault_weblate_email_password }}'
weblate_postgres_password: '{{ vault_weblate_postgres_password }}'
weblate_domain: 'translate.woodpecker-ci.org'
weblate_admin_email: '{{ vault_weblate_admin_email }}'
weblate_site_title: Woodpecker translate
