### Caddy
# renovate: datasource=docker depName=library/caddy versioning=docker
caddy_version: 2.10.2-alpine

### Server
# renovate: datasource=docker depName=woodpeckerci/woodpecker-server versioning=docker
woodpecker_server_version: next@sha256:11f06c8ae8e8f8eb73094a36fa5ea4fa9bbade858f9798049b6b16e4a84237cb
woodpecker_server_host: 'https://ci.woodpecker-ci.org'
woodpecker_server_orgs: woodpecker-ci
woodpecker_server_admins: anbraten,qwerty287
woodpecker_server_agent_secret: '{{ vault_woodpecker_agent_secret }}'
woodpecker_server_github_client: '{{ vault_woodpecker_github_client }}'
woodpecker_server_github_secret: '{{ vault_woodpecker_github_secret }}'

### Agent
# renovate: datasource=docker depName=woodpeckerci/woodpecker-agent versioning=docker
woodpecker_agent_version: next@sha256:101b1bbc520193a7c399984de51f989f8e1d9deaa13b3f02b08fa0b06370609f
woodpecker_agent_server: woodpecker-server:9000
woodpecker_agent_agent_secret: '{{ vault_woodpecker_agent1_secret }}'
woodpecker_agent_max_workflows: 2

### Autoscaler
# renovate: datasource=docker depName=woodpeckerci/autoscaler versioning=docker
woodpecker_autoscaler_version: next@sha256:99fb14bee413d5c1986fc986c7bc4da988125919091d09741b3a88499f146839
woodpecker_autoscaler_server_url: http://woodpecker-server:8000
woodpecker_autoscaler_server_token: '{{ vault_woodpecker_api_token }}'
woodpecker_autoscaler_min_agents: 0
woodpecker_autoscaler_max_agents: 1
woodpecker_autoscaler_workflows_per_agent: 4
woodpecker_autoscaler_grpc_addr: grpc-ci.woodpecker-ci.org:443
woodpecker_autoscaler_grpc_secure: true
woodpecker_autoscaler_provider: hetznercloud
woodpecker_autoscaler_hetzner_api_token: '{{ vault_hcloud_token }}'
# woodpecker_autoscaler_hetzner_server_type: cx42
woodpecker_autoscaler_hetzner_server_type: cpx41 # cpx31
woodpecker_autoscaler_hetzner_ssh_keys: ci.woodpecker-ci.org-ssh
woodpecker_autoscaler_hetzner_location: hel1
woodpecker_autoscaler_autoscaler_agent_version: '{{ woodpecker_agent_version }}'

### Vaultwarden
# renovate: datasource=docker depName=vaultwarden/server versioning=docker
vaultwarden_version: 1.35.1-alpine
vaultwarden_smtp_host: '{{ vault_vaultwarden_smtp_host }}'
vaultwarden_smtp_port: 587
vaultwarden_smtp_security: starttls
vaultwarden_smtp_username: '{{ vault_vaultwarden_smtp_username }}'
vaultwarden_smtp_password: '{{ vault_vaultwarden_smtp_password }}'

### Weblate
# renovate: datasource=docker depName=weblate/weblate versioning=docker
weblate_version: 5.14.3.2
weblate_email_host: '{{ vault_weblate_email_host }}'
weblate_email_use_ssl: 0
weblate_email_use_tls: 1
weblate_email_port: 587
weblate_email_username: '{{ vault_weblate_email_username }}'
weblate_email_password: '{{ vault_weblate_email_password }}'
weblate_postgres_password: '{{ vault_weblate_postgres_password }}'
weblate_domain: 'translate.woodpecker-ci.org'
weblate_admin_email: '{{ vault_weblate_admin_email }}'
weblate_site_title: Woodpecker translate
