- name: Decrypt existing SSH key
  vars:
    key_path: "{{ ssh_key_base_dir }}{{ '/keys/%s.id_ed25519' | format(ssh_key_server_name | replace('.', '_')) }}"
  ansible.builtin.command:
    creates: '{{ key_path }}'
    cmd: ansible-vault decrypt {{ key_path }}.enc --output {{ key_path }}
  delegate_to: localhost
  tags:
    - ssh-key

- name: Generate SSH key for {{ ssh_key_server_name }}
  vars:
    key_path: "{{ ssh_key_base_dir }}{{ '/keys/%s.id_ed25519' | format(ssh_key_server_name | replace('.', '_')) }}"
  community.crypto.openssh_keypair:
    path: '{{ key_path }}'
    type: ed25519
    state: present
    force: false
  delegate_to: localhost
  tags:
    - ssh-key

- name: Encrypt created SSH key
  vars:
    key_path: "{{ ssh_key_base_dir }}{{ '/keys/%s.id_ed25519' | format(ssh_key_server_name | replace('.', '_')) }}"
  ansible.builtin.command:
    creates: '{{ key_path }}.enc'
    cmd: ansible-vault encrypt {{ key_path }} --output {{ key_path }}.enc
  delegate_to: localhost
  tags:
    - ssh-key
